<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
   <link rel="stylesheet" href="/stylesheets/style.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mongoose Fligth</title>
</head>

<body>
    <header class="#42a5f5 blue lighten-1">
        <div class="cloud cloud1" >
            <i class="material-icons large">flight_takeoff</i>
    </div  >
        <nav class="#42a5f5 blue lighten-1">
            <a href="/flights/new" class=
            "right hide-on-med-and-down">New flights</a>
            <a href="/flights" class=
            "right hide-on-med-and-down">All flights</a>
        </nav>
    </header>
    <h1 class="center-align">Flight schedule</h1>

    <table class="highlight centered">
        <thead>
            <tr>
                <th>Airline</th>
                <th>Airport</th>
                <th>Flight Number</th>
                <th>Departure Time</th>
                <th>Flight Details</th>
            </tr>
        </thead>
        <tbody>
            <% flights.forEach(f =>{ %>
            <tr>
                <td><%=f.airline %></td>
                <td><%=f.airport %></td>
                <td><%= f.flightNo %></td>
                <td><%= f.departs %></td>
                <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
            </tr>

            <% }); %>
        </tbody>
    </table>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>